@model Category
@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="card-content">
        <form method="post">
            <div class="field">
                <label asp-for="Name">Update Category</label>
                <div class="field-body">
                    <div class="field">
                        <label asp-for="Name">Category</label>
                        <div class="control icons-left">
                            <input asp-for="Name" class="input" type="text" name="Name" id="category" placeholder="Category name">
                            <span class="icon left"><i class="mdi mdi-account"></i></span>
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field grouped">
                <div class="control">
                    <button type="submit" class="button green">
                        Update
                    </button>
                    <a class="btn btn-light" asp-action="Index">Go Back</a>
                </div>

            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationPartial" />        
}
