@model IEnumerable<Slider>
@{
    ViewData["Title"] = "Index";
    var count = 1;
}

<section class="section main-section">
    <div class="card has-table">
        <header class="card-header">
            <p class="card-header-title">
                <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                Slider Images
            </p>
            <div class="card-header-icon">
                <span class="icon"><a asp-action="Create"><i class="far fa-plus-square"></i></a></span>
            </div>
        </header>
        <div class="card-content">
            <table>
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Images</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var slider in Model)
                    {
                        <tr>
                            <td data-label="Number">@count</td>
                            <td data-label="Images"> <img src="~/img/@slider.Image" alt="" /></td>
                            <td class="actions-cell">
                                <div class="buttons center nowrap">
                                    <a asp-action="Detail" asp-route-id="@slider.Id">
                                        <button class="button small green --jb-modal" type="button">
                                            <span class="icon"><i class="mdi mdi-eye"></i></span>
                                        </button>
                                    </a>
                                    <a asp-action="Update" asp-route-id="@slider.Id">
                                        <button style="background-color:yellow" class="button small --jb-modal" type="button">
                                            <span class="icon"><i class="fas fa-pen-square"></i></span>
                                        </button>
                                    </a>
                                    <form asp-action="Delete" asp-route-id="@slider.Id" method="post">
                                        <button class="button small red --jb-modal" data-target="sample-modal" type="submit">
                                            <span class="icon"><i class="mdi mdi-trash-can"></i></span>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        count++;
                    }
                </tbody>
            </table>
            <div class="table-pagination">
                <div class="flex items-center justify-between">
                    <div class="buttons">
                        <button type="button" class="button active">1</button>
                        <button type="button" class="button">2</button>
                        <button type="button" class="button">3</button>
                    </div>
                    <small>Page 1 of 3</small>
                </div>
            </div>
        </div>
    </div>
</section>

